*{
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.imagen{
    width: 100%;
    
}
.texto-encima{
    position: absolute;
    top: 2%; 
    left: 37%;
    font-size: 350%;
    color:white;
}
.texto-encima2{
    position: absolute;
    top: 7%;
    left: 17%;
    color: white;
    font-size: 250%;
}
.texto{
    position: absolute;
    top: 115%; 
    left: 40%;
    font-size: 350%;
    color: black;
}
.imagen-4{
    position: absolute;
    top: 125%; 
    left: 42%;
    width: 15%;
    width:300px;
    height:300px;
    border-radius:150px;
    
}
.tabla{
    position: absolute;
    top: 160%; 
    left: 30%;
    width: 50%;
}
.datos-adicionales{
    position: absolute;
    top: 200%; 
    left: 40%;
    font-size: 350%;
    color: black;
}
.presentacion{
    position: absolute;
    top: 210%; 
    left: 42%;
    width: 15%;
    
}
.tabla2{
    position: absolute;
    top: 230%; 
    left: 30%;
    width: 50%;
}